@charset "utf-8";

/* CSS Document */
body,
ul,
ol,
dl,
li,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  font-family: 'Helvetica Regular', 'Helvetica', 'Microsoft YaHei' 'Avenir', 'Helvetica', 'Arial', 'sans-serif';
}

img {
  border: none;
}

input,
button,
textarea,
select {
  *font-size: 100%;
  border: none;
}

body {
  background: #f8f8f8;
  color: #5e5e5e;
  font: 14px/24px 'Helvetica Regular', 'Helvetica', 'Microsoft YaHei' 'Avenir', 'Helvetica', 'Arial', 'sans-serif';
}

ul,
ol {
  list-style: none;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*默认a标签样式*/
a:link,
a:visited {
  color: #5e5e5e;
  text-decoration: none;
}

a:hover {
  /*color:#999;*/
}

a:hover {
  color: #c9394a;
  /*text-decoration: underline;*/
}

a:active {
  color: #666;
}

/*浮动和清除浮动*/
.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  zoom: 1;
}

.clear:after {
  content: '';
  display: block;
  height: 0;
  visibility: visible;
  clear: both;
}

/*显示隐藏*/
.hide {
  display: none;
}

.show {
  display: block;
}

/*表格table和td有边框*/
.boder_tl {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.boder_tl td {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.boder_bl {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.boder_bl td {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.boder_tr {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.boder_tr td {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.boder_br {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.boder_br td {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.txt_center {
  text-align: center;
}

/*表格table和tr有边框*/
.boder_ltr_trborder {
  border: 1px solid #ccc;
  border-bottom: none;
}

.boder_ltr_trborder tr {
  border-bottom: 1px solid #ccc;
}
